<h3> <%=link_to("Teams", teams_path) %>
<%=link_to("Users", users_path) %> </h3>

<h1> "Movie Groupies" </h1>

<% @teams.each do |team|    %>
<p> <%= link_to(team.team_name, team_path(team)) %> </p>
<% end %>

<br><br><br><br>
<p> <%= link_to("CREATE NEW TEAM", new_team_path) %> </p>
