<h1> <%= @user.username %>'s Movie Preferences: </h1>

<% @user_preferences.each do |preference|    %>
<p> <%= "#{preference.like_or_dislike} #{preference.category.name}" %> </p>
<% end %>


<br><br><br><br><br>
<p> <%= link_to("Add New Preference", new_user_preference_path(@user)) %> </p>
