<h1> New Preference <h1>

# <%= form_for([@user, @preference]) do |f| %>
<label>Team Name:</label><br>
<%= f.text_field :team_name %><br>

<label>Users Names:</label><br>

<%= f.collection_check_boxes :user_ids, @users, :id, :username %><br>

#   <%= f.submit %>
# <% end %>
